.footer {
    width: 100%;
    height: 150px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
  }
  
  .footer h4 {
    font-size: 18px;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer h4 a {
    color: #74a451;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer h4 a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  